*.o
*.dat
*.swp
*.swo
.DS_Store
2Bubbles
bubble
step
sphere
sphereHMT
cylinder
diskNuC
diskNuZ
diskNuCte
diskSurf
curavture
staticDroplet
micro
oscillating
curvature
curvatureAndPressure
fallingDrop
sessileDrop
staticTorus
risingBubble
risingBubbleHT
curvatureAndPressureCylinder
curvatureAndPressureSphere
curvatureAndPressureTorus
curvatureCylinder
curvatureSphere
curvatureTorus
curvatureTest
finiteDisk
oscillatingDrop
stepALE
torus
vortex
zalesak
shear
hyperboloid
curvatureHyperboloid
curvatureAndPressureHyperboloid
