*.o
*.dat
*.swp
.DS_Store
2bubbles
bubble
step
sphere
cylinder
diskNuC
diskNuZ
diskNuCte
diskSurf
curavture
staticDroplet
micro
oscillating
curvature
curvatureAndPressure
fallingDrop
sessileDrop
staticTorus
risingBubble
risingBubbleHT
curvatureAndPressureCylinder
curvatureAndPressureSphere
curvatureAndPressureTorus
curvatureCylinder
curvatureSphere
curvatureTorus
finiteDisk
oscillatingDrop
stepALE
torus
