# general
._*
*.o
*.dat
*.swp
*.swo
.DS*
*.vtk
*.vtu
*.bin
*.dist.*
*.edge.*
*.msh
# executables
2Bubbles
curvatureAndPressureCylinder
curvatureAndPressureHyperboloid
curvatureAndPressureSphere
curvatureAndPressureTorus
curvatureCylinder
curvatureHyperboloid
curvatureSphere
curvatureTest
curvatureTorus
cylinder
diskNuC
diskNuCte
diskNuZ
diskSurf
fallingDrop
finiteDisk
hyperboloid
micro
oscillatingDrop
risingBubble
risingBubbleHT
sessileDrop
shear
sphere
sphereHMT
sphereNuCte
step
stepALE
torus
vortex
zalesak
channelPBC
taylorVortexPBC
movingFramePBC
risingBubblePBC
betaFlowPBC
risingBubbleBetaFlowPBC
